{
    "MSBuild" : {
        "ProjectFile" : "C:\\dev\\SpracheSandbox\\Test1\\JsonParser.sln",
        "Options" : {
            "Configuration" : "Release",
            "Platform" : "Any CPU",
            "OutputPath" : "C:\\dev\\SpracheSandbox\\Test1\\GitomaticBuild"
        }
    },
    "TestAssemblyFileNames" : [ "JsonParser.Tests.dll" ],
    "Git" : {
        "Path" : "C:\\dev\\SpracheSandbox\\Test1",
        "Message" : "string"
    }
}